{% extends "base.html" %}
{% block title %}Security Dashboard{% endblock %}

{% block content %}

<h2>Security Monitoring Dashboard</h2>

<p>Welcome, {{ username }} 👋</p>

<!-- STATUS SECTION -->
{% if alert_count and alert_count > 0 %}
<div class="alert-box">
    ⚠ Threat Alerts Detected: {{ alert_count }}
</div>
{% else %}
<div class="safe-box">
    ✅ System Security Status Normal
</div>
{% endif %}

<br>

<!-- ACTIVITY FEED -->
<h3>Activity Feed</h3>

<div class="feed-box">

{% for item in activity_feed %}

<div class="feed-item">

    <b>{{ item.time }}</b><br><br>

    User:
    <span style="color:#60a5fa;">
        {{ item.user }}
    </span>

    <br>

    Action:

    {% if "success" in item.action %}
        <span class="action-success">{{ item.action }}</span>

    {% elif "failed" in item.action %}
        <span class="action-failed">{{ item.action }}</span>

    {% elif "injection" in item.action %}
        <span class="action-injection">{{ item.action }}</span>

    {% else %}
        {{ item.action }}
    {% endif %}

    <br>

    IP Address:
    <span style="color:#cbd5e1;">
        {{ item.ip }}
    </span>

</div>

{% endfor %}

</div>

<br>

<a href="/alerts">View Alerts</a> |
<a href="/logout">Logout</a>

{% endblock %}