{% extends "base.html" %}
{% block title %}Secure App Demo{% endblock %}

{% block content %}

<div class="container">

    <h1 style="font-size:38px; color:#0b3d91; margin-bottom:15px;">
        Secure Activity Monitoring System
    </h1>

    <p style="font-size:18px; max-width:750px; margin:0 auto 30px; line-height:1.7; color:#334155;">
        This cybersecurity project simulates a secure authentication and monitoring platform with real time activity logging, failed login detection, session management, and basic intrusion monitoring capabilities.
    </p>

    <div style="display:flex; flex-direction:column; align-items:center; gap:15px; margin-top:20px;">

        <a href="/demo">
            <button style="width:260px;">
                Try Demo
            </button>
        </a>

        <a href="/login">
            <button style="width:260px; background:#334155;">
                Login
            </button>
        </a>

    </div>

    <div style="
        margin-top:50px;
        background:#f1f5f9;
        padding:25px;
        border-radius:14px;
        max-width:750px;
        margin-left:auto;
        margin-right:auto;
        text-align:left;
    ">

        <h2 style="color:#0b3d91;">Project Features</h2>

        <p style="line-height:1.8; color:#334155;">
            • Secure password hashing with bcrypt<br>
            • Activity logging and monitoring<br>
            • Failed login detection<br>
            • Session based authentication<br>
            • Suspicious activity alerts<br>
            • Security dashboard visualization
        </p>

        <h2 style="color:#0b3d91; margin-top:20px;">Tech Stack</h2>

        <p style="color:#334155;">
            Python Flask HTML CSS Bcrypt
        </p>

    </div>

</div>

{% endblock %}